fxcm.cfg
fxcm.log
.DS_Store
__pycache__

# Pycharm
.idea

# VS Code
.vscode/

#exclude data folders
data
pre_processed_data*
reaorganized_data
sub_train_data
test_data
train_data
unlabeled_data


#Jupyter NB Checkpoints
.ipynb_checkpoints/

ia/notebooks/*.*/*.*jpg