<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
        <a class="brand-logo"(click)="clickedMenu($event)" routerLink="/"><img src="assets/images/logo.svg" alt="logo" /></a>
        <a class="brand-logo-mini" (click)="clickedMenu($event)" routerLink="/"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
    </li>
    <li class="nav-item nav-profile">
      <a href="javascript:;" class="nav-link">
        <div class="nav-profile-image">
          <img [src]="currentUser.image" alt="profile">
          <span class="login-status online"></span> <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text">
          <span class="font-weight-medium mb-2" translate>{{currentUser.name}}</span>
        </div>
        <i class="badge badge-danger nav-profile-badge">3</i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }">
      <a class="nav-link"
          routerLink="/dashboard"
          routerLinkActive = "active"
          #dashboard="routerLinkActive">
        <i class="mdi mdi-home menu-icon"></i>
        <span class="menu-title" translate>Dashboard</span>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{'active' : patientlist.isActive || patientdiagnosed.isActive }">
      <a class="nav-link" (click)="clickedMenu($event)" id="nav-link-patient">
        <i class="mdi mdi mdi-hospital menu-icon"></i>
        <span class="menu-title" translate>Patients</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="parentId !== 'nav-link-patient'">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="patients/list"
                                    routerLinkActive="active"
                                    #patientlist="routerLinkActive"
                                    translate>Tous</a>
          </li>
          <li class="nav-item"> <a class="nav-link" routerLink="patients/diagnosed"
                                    routerLinkActive="active"
                                    #patientdiagnosed="routerLinkActive"
                                    translate>Diagnostiqués</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': diagnostics.isActive }">
      <a class="nav-link"
          (click)="clickedMenu($event)"
          routerLink="/diagnostics/start"
            routerLinkActive #diagnostics="routerLinkActive">
        <i class="mdi mdi-heart-pulse menu-icon"></i>
        <span class="menu-title" translate>Diagnostics</span>
      </a>
    </li>

    <li class="nav-item" *ngIf="isAnnotator()" [ngClass]="{'active' : annotate.isActive || modelperformance.isActive}">
      <a class="nav-link" (click)="clickedMenu($event)" id="nav-link-annotation">
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
        <span class="menu-title" translate>Annotation</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="parentId !== 'nav-link-annotation'">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="annotations/annotate"
                                    routerLinkActive="active"
                                    #annotate="routerLinkActive"
                                    translate>Annoter</a>
          </li>
          <li class="nav-item"> <a class="nav-link" routerLink="annotations/performance"
                                    routerLinkActive="active"
                                    #modelperformance="routerLinkActive"
                                    translate>Performance Model</a>
          </li>
        </ul>
      </div>
    </li>

  </ul>
</nav>
