<div class="page-header">
    <h3 class="page-title">
      Badges
    </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:;">UI Elements</a></li>
        <li class="breadcrumb-item active" aria-current="page">Badges</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-md-2 grid-margin stretch-card">
    </div>
    <div class="col-md-8 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <ng-template [ngIf]="imagesList">
            <ng-template [ngIf]="imagesList.length > 0 ">
            <div class="row" style="margin-bottom: 30px;">
              <div class="col-md-3"></div>
            <div class="col-md-6" >
              <div class="progress" style="height: 15px;margin-bottom: 5px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated" 
                      role="progressbar" 
                      aria-valuenow="75" 
                      aria-valuemin="0" 
                      aria-valuemax="100" 
                      [style]="getWidthStyle()"></div>
              </div>
              <p class="card-description"><span style="float: left;" >Number of annotated items</span> <span style="float: right;">{{getTotalAnnotated()}}/{{imagesList.length}}</span> </p>
            </div>
            <div class="col-md-3"></div>
            </div>
            
            <div class="row">
                <div style="margin:auto;">
                              <img style="width: 70px;margin-left: auto;margin-right: auto;display: block;"
                                      [src]="imagesList[currentImageIndex].url" alt="sample image">
                              <p class="card-description text-center"><span>{{this.currentImageIndex + 1}}/{{imagesList.length}}</span> </p>
                              <p class="card-description text-center">simulation diagnostic médecin : {{getCurrentClass()}}</p>
                </div>
                
            </div>
            <div class="row" style="margin-top: 30px;">
              <div class="template-demo" style="margin:auto">
                  <button type="button" 
                          class="btn btn-dark"
                          (click)="onPrev()"
                          [disabled]="!hasPrev()">Précédent</button>
                  <button type="button" 
                          class="btn btn-fw"
                          (click)="onNotCancer()"
                          [ngClass]="(imagesList[currentImageIndex].hasCancer == null) || (imagesList[currentImageIndex].hasCancer) ? 'btn-outline-success' : 'btn-success'">Pas Cancer</button>
                  <button type="button" class="btn btn-fw"
                          (click)="onCancer()"
                          [ngClass]="(imagesList[currentImageIndex].hasCancer == null) || (!imagesList[currentImageIndex].hasCancer) ? 'btn-outline-danger' : 'btn-danger'">Cancer</button>
                  <button type="button" class="btn btn-dark"
                          (click)="onNext()"
                          [disabled]="!hasNext()">Suivant</button>
              </div>
            </div>
            
            </ng-template>
            <ng-template [ngIf]="imagesList.length == 0 ">
             <p class="text-center">
              Pas d'images pour l'instant à annoter!
             </p> 
            </ng-template>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="col-md-2 grid-margin stretch-card">
    </div>
  </div>
  <ng-template [ngIf]="imagesList && imagesList.length > 0">  
    <div class="row">
    <div class="col-md-2 grid-margin stretch-card">
    </div>
    <div class="col-md-8 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div style="justify-content: flex-end;display: flex;">
              <button type="button" 
                      style="margin-right: .25rem;" 
                      class="btn btn-success"
                      [disabled]="!toSubmit()"
                      (click)="submit()">Submit</button>
              <button type="button" 
                      style="margin-left: .25rem;" 
                      class="btn btn-light mt-2 mt-sm-0"
                      (click)="reset()">Reset</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 grid-margin stretch-card">
    </div>
  </div></ng-template>



  <ng-template #successUploadModal let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-2">Annotation des données</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Les données annotées ont été téléchargé avec succès.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="closeModal(modal)">OK</button>
      </div>
    </div>
  </ng-template>