<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="d-flex align-items-stretch auth auth-img-bg h-100">
    <div class="row flex-grow">
      <div class="col-lg-6 d-flex align-items-center justify-content-center">
        <div class="auth-form-transparent text-left p-3">
          <div class="brand-logo">
            <img src="assets/images/logo.svg" alt="logo">
          </div>
          <h4>Welcome back!</h4>
          <h6 class="font-weight-light">Happy to see you again!</h6>
          
            <div class="form-group">
              <label for="exampleInputEmail">Username</label>
              <div class="input-group">
                <div class="input-group-prepend bg-transparent">
                  <span class="input-group-text bg-transparent border-right-0">
                    <i class="mdi mdi-account-outline text-primary"></i>
                  </span>
                </div>
                <input type="text" 
                        class="form-control form-control-lg border-left-0" 
                        id="exampleInputEmail" 
                        placeholder="Username"
                        formControlName="username"
                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword">Password</label>
              <div class="input-group">
                <div class="input-group-prepend bg-transparent">
                  <span class="input-group-text bg-transparent border-right-0">
                    <i class="mdi mdi-lock-outline text-primary"></i>
                  </span>
                </div>
                <input type="password" 
                      class="form-control form-control-lg border-left-0" 
                      id="exampleInputPassword" 
                      placeholder="Password"
                      formControlName="password"
                      [ngClass]="{ 'is-invalid': submitted && f.password.errors }">                        
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
              </div>
            </div>
            <div class="my-2 d-flex justify-content-between align-items-center">
              <div class="form-check">
                <label class="form-check-label text-muted">
                  <input type="checkbox" class="form-check-input">
                  <i class="input-helper"></i>
                  Keep me signed in
                </label>
              </div>
              <a href="javascript:(void)" class="auth-link text-black">Forgot password?</a>
            </div>
            <div class="my-3">
              <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                  [disabled]="loading"
                  type="submit">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  LOGIN
                </button>
            </div>
            <div class="text-center mt-4 font-weight-light">
              Don't have an account? <a routerLink="/register-2" class="text-primary">Create</a>
            </div>
          
        </div>
      </div>
      <div class="col-lg-6 login-half-bg d-flex flex-row">
      </div>
    </div>
  </div>
</form>