<div class="page-header flex-wrap">
    <span class="pl-0 h6 pl-sm-2 text-muted d-inline-block">You can start diagnosing all patients by checking "All" and clicking "Start" or you can just select a few and click "Start".</span>
</div>
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card card-invoice">
            <div class="card-body">
                <div class="list-card">
                    <div class="row align-items-center">
                        <div class="col-1">
                            <div class="form-check form-check-flat form-check-primary">
                                <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input">
                                  <i class="input-helper"></i>
                                </label>
                              </div>    
                        </div>
                        <div class="col-5">
                            <div class="row align-items-center">
                                <div class="col-sm-4">
                                  <img src="https://www.bootstrapdash.com/demo/breeze/angular/preview/demo_1/assets/images/faces/face11.jpg" alt="">
                                </div>
                                <div class="col-sm-8 pr-0 pl-sm-0">
                                  <h6 class="mb-1 mb-sm-0">Carrie Parker</h6>
                                  <span>Wed Feb 19 2020</span>
                                </div>
                              </div>
                        </div>
                        <div class="col-6">
                            <ul>
                                <li class="loc-caption" title="location 1">
                                  <img id="loc1" src="https://storage.googleapis.com/kagglesdsdata/datasets%2F7415%2F10564%2F10253%2F0%2F10253_idx5_x1001_y1001_class0.png?GoogleAccessId=databundle-worker-v2@kaggle-161607.iam.gserviceaccount.com&Expires=1600747084&Signature=i5SGzNRZ092%2B6NJ%2Blf01f0FR2E01gAe2MRHRopkJYHE9TmrqYnIrWrnY3Xq5cMxhX9n%2FNXTxvejo2uNQ5B1BciigKNTlw6rAomQdvjk8%2FQr1RSEw2jRA4wiwtXCdSU5AADme2rK%2B3hOPRLXAwlGg3TN3A7Uk1p8xvC%2BsnuEhTRAAX5uGIA0EYCwTNUafFJzd%2Fj6R5su2lIHhf7QvX2TNp%2FHhyJgR5uZZvLKz9FuV16bkcqLV5As8%2BX6iGO83GvHJDTQeQrrO%2B8YYu%2BcCPaFntXY2cZpYyipQ00Rzx5pc34mA2Ey49xHNPTz51inOnTtze6NdsWUuXyIK8wW6cYu0sA%3D%3D" />
                                </li>
                                <li class="loc-caption" title="location 2">
                                  <img id="loc2" src="https://storage.googleapis.com/kagglesdsdata/datasets%2F7415%2F10564%2F10253%2F0%2F10253_idx5_x1001_y1051_class0.png?GoogleAccessId=databundle-worker-v2@kaggle-161607.iam.gserviceaccount.com&Expires=1600747084&Signature=F4oWSIdu0Fld8nfsUw8JO23Y3LMgt7%2BXqyAKQqnnbLyvLgwHZWFFrn%2FjhW4KGDongSOVr2G2yUzETc0kHKdkCaRvGFJwb4zHaKoRNTCye%2Fk%2BjSltzA%2FhYUAmRAoY8S8cv2Sx2OuLYHdmvIty3XcY2Y2tHPTOwlzWH1fb2Kgy8AeUvV7tQWhUOKA9jFkpLSphgjlcGWPTncnyoZnnf%2BIXiqc%2Bud9G2kMzSSbTguaqVA5cwQNkz%2FaRAtp6YCnbH1y2XrEHvS9Ojqju6Ah6Vj4YJo30hUGCicaLuOhHQ%2FI5edMg68%2BTQypITLwf0Ry7SP4u5a4EDOpPXsg48rE0MzkdOg%3D%3D" />
                                </li>
                                <li class="loc-caption" title="location 3">
                                  <img id="loc3" src="https://storage.googleapis.com/kagglesdsdata/datasets%2F7415%2F10564%2F10253%2F0%2F10253_idx5_x1001_y1101_class0.png?GoogleAccessId=databundle-worker-v2@kaggle-161607.iam.gserviceaccount.com&Expires=1600747084&Signature=rk3jbdQ%2FVxXnUL1p%2BL%2B1BELCKiN%2F6fJ5KRnk%2FSCZ%2BgUiZPt9a3WFG2oG3SpxkAGZnwHTEWPQ%2BLHihJWrbuX9zLYxBIC4td1ckT1he2Fcu1Xxy9h8KV0b5L3u7HYXb2RI3qy4QPwtZOKpvPPsRPmAbwYEYOzC6eZ9DEs1MPpTbPsEVEL8%2FU1VePO5USC0Z16xREbRUpgtK7%2FGRv8Al%2BWDk3RRmRZka3rj%2BXCtNYmaVY%2FhubDSNWFkt5paVBaO1E1aXCLM%2BPpSjPALFpCXAmWZSwZDOEqgEf7fXpB3hxs3eI56eiN%2B%2BGKLIMsLlIMGUhBy7CXYLVbXl%2Br5bXASYWs0%2Bg%3D%3D" />
                                </li>
                                <li class="loc-caption" title="location 3">
                                    <img id="loc3" src="https://storage.googleapis.com/kagglesdsdata/datasets%2F7415%2F10564%2F10253%2F0%2F10253_idx5_x1001_y1151_class0.png?GoogleAccessId=databundle-worker-v2@kaggle-161607.iam.gserviceaccount.com&Expires=1600747084&Signature=sh%2BW7%2FzofdHSEpJCEdctiJGccLo8T50kW%2BZnw0Rs0IELc8G7MIjYeij68%2FbzNL4YyRZscZS90qsZsp8NA47wWb8dP%2FlTNo18iiIz3IuqB6B3eJdKzM7Qry2IJnW2y3mCr2B0rHTJ%2FhEuJRacOCF2mwJg5lxDOGgUHwDGnUFTXnp7fl4%2FH4%2Bh6aRkdi5JbQJsVzg52dUpfIl54hgShZox1ZkDhMXKw%2BLg6mRDVesIUZJXzs0X%2B3vX4Cf%2BwE%2FHWPGJITOyS%2B%2BaJgNook%2Bbb2Jxh4Qmr7ZaQLKdEi2m326gzogWYrt0nW6aGFxZdg%2B8BDl0Ml409Qan5cQmP1p0NhsdcQ%3D%3D" />
                                  </li>
                              </ul>        
                        </div>
                    </div>
                </div>
                
                <div class="list-card">
                    <div class="row align-items-center">
                        <div class="col-1">
                            <div class="form-check form-check-flat form-check-primary">
                                <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input">
                                  <i class="input-helper"></i>
                                </label>
                              </div>    
                        </div>
                        <div class="col-5">
                            <div class="row align-items-center">
                                <div class="col-sm-4">
                                  <img src="https://www.bootstrapdash.com/demo/breeze/angular/preview/demo_1/assets/images/faces/face11.jpg" alt="">
                                </div>
                                <div class="col-sm-8 pr-0 pl-sm-0">
                                  <h6 class="mb-1 mb-sm-0">Carrie Parker</h6>
                                  <span>Wed Feb 19 2020</span>
                                </div>
                              </div>
                        </div>
                        <div class="col-6">
                            <ul>
                                <li class="loc-caption" title="location 1">
                                  <img id="loc1" src="https://storage.googleapis.com/kagglesdsdata/datasets%2F7415%2F10564%2F10253%2F0%2F10253_idx5_x1001_y1001_class0.png?GoogleAccessId=databundle-worker-v2@kaggle-161607.iam.gserviceaccount.com&Expires=1600747084&Signature=i5SGzNRZ092%2B6NJ%2Blf01f0FR2E01gAe2MRHRopkJYHE9TmrqYnIrWrnY3Xq5cMxhX9n%2FNXTxvejo2uNQ5B1BciigKNTlw6rAomQdvjk8%2FQr1RSEw2jRA4wiwtXCdSU5AADme2rK%2B3hOPRLXAwlGg3TN3A7Uk1p8xvC%2BsnuEhTRAAX5uGIA0EYCwTNUafFJzd%2Fj6R5su2lIHhf7QvX2TNp%2FHhyJgR5uZZvLKz9FuV16bkcqLV5As8%2BX6iGO83GvHJDTQeQrrO%2B8YYu%2BcCPaFntXY2cZpYyipQ00Rzx5pc34mA2Ey49xHNPTz51inOnTtze6NdsWUuXyIK8wW6cYu0sA%3D%3D" />
                                </li>
                                <li class="loc-caption" title="location 2">
                                  <img id="loc2" src="https://storage.googleapis.com/kagglesdsdata/datasets%2F7415%2F10564%2F10253%2F0%2F10253_idx5_x1001_y1051_class0.png?GoogleAccessId=databundle-worker-v2@kaggle-161607.iam.gserviceaccount.com&Expires=1600747084&Signature=F4oWSIdu0Fld8nfsUw8JO23Y3LMgt7%2BXqyAKQqnnbLyvLgwHZWFFrn%2FjhW4KGDongSOVr2G2yUzETc0kHKdkCaRvGFJwb4zHaKoRNTCye%2Fk%2BjSltzA%2FhYUAmRAoY8S8cv2Sx2OuLYHdmvIty3XcY2Y2tHPTOwlzWH1fb2Kgy8AeUvV7tQWhUOKA9jFkpLSphgjlcGWPTncnyoZnnf%2BIXiqc%2Bud9G2kMzSSbTguaqVA5cwQNkz%2FaRAtp6YCnbH1y2XrEHvS9Ojqju6Ah6Vj4YJo30hUGCicaLuOhHQ%2FI5edMg68%2BTQypITLwf0Ry7SP4u5a4EDOpPXsg48rE0MzkdOg%3D%3D" />
                                </li>
                                <li class="loc-caption" title="location 3">
                                  <img id="loc3" src="https://storage.googleapis.com/kagglesdsdata/datasets%2F7415%2F10564%2F10253%2F0%2F10253_idx5_x1001_y1101_class0.png?GoogleAccessId=databundle-worker-v2@kaggle-161607.iam.gserviceaccount.com&Expires=1600747084&Signature=rk3jbdQ%2FVxXnUL1p%2BL%2B1BELCKiN%2F6fJ5KRnk%2FSCZ%2BgUiZPt9a3WFG2oG3SpxkAGZnwHTEWPQ%2BLHihJWrbuX9zLYxBIC4td1ckT1he2Fcu1Xxy9h8KV0b5L3u7HYXb2RI3qy4QPwtZOKpvPPsRPmAbwYEYOzC6eZ9DEs1MPpTbPsEVEL8%2FU1VePO5USC0Z16xREbRUpgtK7%2FGRv8Al%2BWDk3RRmRZka3rj%2BXCtNYmaVY%2FhubDSNWFkt5paVBaO1E1aXCLM%2BPpSjPALFpCXAmWZSwZDOEqgEf7fXpB3hxs3eI56eiN%2B%2BGKLIMsLlIMGUhBy7CXYLVbXl%2Br5bXASYWs0%2Bg%3D%3D" />
                                </li>
                                <li class="loc-caption" title="location 3">
                                    <img id="loc3" src="https://storage.googleapis.com/kagglesdsdata/datasets%2F7415%2F10564%2F10253%2F0%2F10253_idx5_x1001_y1151_class0.png?GoogleAccessId=databundle-worker-v2@kaggle-161607.iam.gserviceaccount.com&Expires=1600747084&Signature=sh%2BW7%2FzofdHSEpJCEdctiJGccLo8T50kW%2BZnw0Rs0IELc8G7MIjYeij68%2FbzNL4YyRZscZS90qsZsp8NA47wWb8dP%2FlTNo18iiIz3IuqB6B3eJdKzM7Qry2IJnW2y3mCr2B0rHTJ%2FhEuJRacOCF2mwJg5lxDOGgUHwDGnUFTXnp7fl4%2FH4%2Bh6aRkdi5JbQJsVzg52dUpfIl54hgShZox1ZkDhMXKw%2BLg6mRDVesIUZJXzs0X%2B3vX4Cf%2BwE%2FHWPGJITOyS%2B%2BaJgNook%2Bbb2Jxh4Qmr7ZaQLKdEi2m326gzogWYrt0nW6aGFxZdg%2B8BDl0Ml409Qan5cQmP1p0NhsdcQ%3D%3D" />
                                  </li>
                              </ul>        
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <a routerLink="/diagnostics/start"
                    class="btn btn-outline-info btn-icon-text mt-auto">
                      Lancer                                                                             
                    </a>
                  </div>
            </div>
        </div>
    </div>
</div>