<div class="page-header flex-wrap">
    <span class="pl-0 h6 pl-sm-2 text-muted d-inline-block">You can start diagnosing all patients by checking "All" and clicking "Start" or you can just select a few and click "Start".</span>
</div>
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card card-invoice">
            <div class="card-body">
                <div class="list-card">
                    <div class="row align-items-center">
                        <div class="col-1">
                            <div class="form-check form-check-flat form-check-primary">
                                <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input">
                                  <i class="input-helper"></i>
                                </label>
                              </div>    
                        </div>
                        <div class="col-5">
                            <div class="row align-items-center">
                                <div class="col-sm-4">
                                  <img src="https://www.bootstrapdash.com/demo/breeze/angular/preview/demo_1/assets/images/faces/face11.jpg" alt="">
                                </div>
                                <div class="col-sm-8 pr-0 pl-sm-0">
                                  <h6 class="mb-1 mb-sm-0">Carrie Parker</h6>
                                  <span>Wed Feb 19 2020</span>
                                </div>
                              </div>
                        </div>
                        <div class="col-6">
                            <ul>
                                <li class="loc-caption" title="location 1">
                                  <img id="loc1" src="https://diagnozstorage.blob.core.windows.net/diagnoz/patients/5f76ae1ab18cb6ab2172b606/cancer/breast/images/5f76ae1ab18cb6ab2172b606_0_.png" />
                                </li>
                                <li class="loc-caption" title="location 2">
                                  <img id="loc2" src="https://diagnozstorage.blob.core.windows.net/diagnoz/patients/5f76ae1ab18cb6ab2172b606/cancer/breast/images/5f76ae1ab18cb6ab2172b606_0_.png" />
                                </li>
                                <li class="loc-caption" title="location 3">
                                  <img id="loc3" src="https://diagnozstorage.blob.core.windows.net/diagnoz/patients/5f76ae1ab18cb6ab2172b606/cancer/breast/images/5f76ae1ab18cb6ab2172b606_0_.png" />
                                </li>
                                <li class="loc-caption" title="location 3">
                                    <img id="loc3" src="https://diagnozstorage.blob.core.windows.net/diagnoz/patients/5f76ae1ab18cb6ab2172b606/cancer/breast/images/5f76ae1ab18cb6ab2172b606_0_.png" />
                                  </li>
                              </ul>        
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a routerLink="/diagnostics/start"
                    class="btn btn-outline-info btn-icon-text mt-auto">
                      Lancer                                                                             
                    </a>
                  </div>
            </div>
        </div>
    </div>
</div>