@import "../../../styles.scss";
@import "../../patients/patients.scss";

.card-patient {
    img {
        height: 70px;
        width: 70px;
        border-radius: 4px;
        @media (max-width: 560px) {
          margin-top: 6px;
        }
      }
      .list-card {
        padding: 10px 0 10px 20px;
      }
}


.loc-caption:before {
    content: attr(title);
    display: block;
  }
  
  ul {
    text-align: center;
    padding: 0;
  }
  
  li {
    width: 25%;
    display: inline-block;
    vertical-align: top;
  }
  
  li img {
    max-width: 100%;
    height: auto;
  }