<div class="page-header">
    <h3 class="page-title">
      Badges
    </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:;">UI Elements</a></li>
        <li class="breadcrumb-item active" aria-current="page">Badges</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-md-2 grid-margin stretch-card">
    </div>
    <div class="col-md-8 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
            <div class="text-center">
                <img class="mr-3 w-25 mb-4" 
                        src="https://diagnozstorage.blob.core.windows.net/diagnoz/patients/5fa87da58977722fa06b7067/cancer/breast/images/5fa87da58977722fa06b7067_4_.png" 
                            alt="sample image">
            </div>
            <div class="template-demo text-center">
                <button type="button" class="btn btn-dark">Précédent</button>
                <button type="button" class="btn btn-outline-success btn-fw">Pas Cancer</button>
                <button type="button" class="btn btn-outline-danger btn-fw">Cancer</button>
                <button type="button" class="btn btn-dark">Suivant</button>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 grid-margin stretch-card">
    </div>
  </div>